body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.logo {
  max-width: 150px;
  display: block;
  margin: 0 auto 10px;
}

header, footer {
  text-align: center;
  padding: 0px 0;
}

section {
  margin-bottom: 30px;
}

section h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #333;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.boton {
  text-align: center;
  margin-top: 20px;
}

.boton button {
  background-color: #007bff;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.boton button:hover {
  background-color: #0056b3;
}

@media print {
  body {
    zoom: 0.65; /* Reduce el tamaño general para que todo quepa */
  }

  body * {
    visibility: hidden;
  }

  form, form * {
    visibility: visible;
  }

  form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  header, .logo {
    visibility: visible;
    position: relative;
  }

  .boton, footer {
    display: none;
  @page {
    margin: 1cm;
  }
}
